main {
  display:flex;
  width: 100%;
  justify-content: center;
}

#manage {
  display: flex;
  flex-direction: column;
  width: 600px;
  /* background-color: blue; */
}

/* This covers the Character name field */
#manage div.char-name-area {
  display: flex;
  /* background-color: orange; */
  padding-top: 10px;
  justify-content: center;
}

.name-input {
  width: 71%;
}

/* List of character statistics */
#manage-stats {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
  /* background-color: green; */
  /* justify-content: center; */
}

.stat-row label {
  width: 100px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}

button {
  margin: 20px;
  margin-left: 23%;
}

#char-map button {
  margin: 20px;
}

/* List of characters in database */
#list-chars label {
  margin: 20px;
  color: red;
}

#list-chars div {
  display: flex;
  /* flex-direction: column; */
}

#char-map label {
  margin-right: 45px;
}
